In [63]:
import pandas as pd

In [240]:
excludes = ['14TH STREET1',
 '9TH STREET1',
 'CITY / BUS1',
 'EXCHANGE PLACE1',
 'GROVE STREET1',
 'HARRISON1',
 'JOURNAL SQUARE1',
 'LACKAWANNA1',
 'NEWARK BM BW1',
 'NEWARK C1',
 'NEWARK HM HE1',
 'NEWARK HW BMEBE1',
 'PATH NEW WTC1',
 'PATH WTC 21',
 'PATH WTC1',
 'PAVONIA/NEWPORT1',
 'RIT-MANHATTANR',
 'RIT-ROOSEVELTR',
 'ST. GEORGE1',
 'THIRTY ST1',
 'THIRTY THIRD ST1',
 'TOMPKINSVILLE1',
 'TWENTY THIRD ST1',
    'LGA AIRPORT CTB7'] #these stations aren't part of the NYC database for location so we exclude them

For some reason after 2015, they removed a bunch of the es on AVE so use the new file for 2016-on and the normal file for 2010-15

In [241]:
match_new = pd.read_csv('Turnstile_data_stops_to_NYC_stops_new.csv')
match_old = pd.read_csv('Turnstile_data_stops_to_NYC_stops.csv')

In [242]:
years = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
for year in years:
    if year > 2015:
        match = match_new
    else:
        match = match_old
    
    stations_daily_clean = pd.read_pickle('../data/Turnstile/{}_daily_turnstile_data.pkl'.format(year))
    
    joined = stations_daily_clean.merge(match[['station_line', 'objectid']], on='station_line', how ='outer').dropna()
    
    comp = pd.Series(list(stations_daily_clean.station_line.unique()[~pd.Series(stations_daily_clean.station_line.unique()).isin(joined.station_line.unique())]))
    
    #compare lost station_lines to those intentionally excluded
    print('Year {0} invalid: {1}'.format(year, (~comp.isin(excludes)).sum()))
    
    if (~comp.isin(excludes)).sum() > 0:
        print(list(comp[~comp.isin(excludes)]))
    
    #for stations in one file assigned the same objectid, we are just summing up those terms
    #also for stations that have multiple object ids, we'll just assume that they all get the same entries/exits
    joined_and_summed = joined.groupby(['objectid', 'datetime']).agg({'entries':'sum', 'exits':'sum'}).reset_index()
    
    joined_and_summed.to_csv('../data/{}_turnstile_objectid_format.csv'.format(year))

Year 2014 invalid: 0
Year 2015 invalid: 0
Year 2016 invalid: 0
Year 2017 invalid: 0
Year 2018 invalid: 0

In [225]:
joined = stations_daily_clean.merge(match[['station_line', 'objectid']], on='station_line', how ='outer').dropna()

In [226]:
joined.dropna().objectid.nunique()

467

In [203]:
match.objectid.nunique()

473

In [227]:
joined_and_summed = joined.groupby(['objectid', 'datetime']).sum().reset_index()

In [228]:
joined.objectid.unique()[~pd.Series(joined.objectid.unique()).isin(joined_and_summed.objectid.unique())]

array([], dtype=float64)

In [187]:
comp12 = pd.Series(list(stations_daily_clean12.station_line.unique()[~pd.Series(stations_daily_clean12.station_line.unique()).isin(joined12.dropna().station_line.unique())]))

In [233]:
stations_daily_clean.datetime.nunique()

364

In [234]:
joined_and_summed.datetime.nunique()

364

In [184]:
stations_daily_clean12 = pd.read_pickle('../data/Turnstile/2012_daily_turnstile_data.pkl')
matchold = pd.read_csv('../data/Turnstile_data_stops_to_NYC_stops.csv')

In [185]:
joined12 = stations_daily_clean12.merge(matchold[['station_line', 'objectid']], on='station_line', how ='outer')

In [186]:
list(stations_daily_clean12.station_line.unique()[~pd.Series(stations_daily_clean12.station_line.unique()).isin(joined12.dropna().station_line.unique())])

['9TH STREET1',
 'CITY / BUS1',
 'EXCHANGE PLACE1',
 'GROVE STREET1',
 'HARRISON1',
 'JOURNAL SQUARE1',
 'LACKAWANNA1',
 'NEWARK BM BW1',
 'NEWARK C1',
 'NEWARK HM HE1',
 'NEWARK HW BMEBE1',
 'PATH WTC 21',
 'PATH WTC1',
 'PAVONIA/NEWPORT1',
 'RIT-MANHATTANR',
 'RIT-ROOSEVELTR',
 'ST. GEORGE1',
 'THIRTY ST1',
 'THIRTY THIRD ST1',
 'TOMPKINSVILLE1',
 'TWENTY THIRD ST1']

In [162]:
matchold

             station_line       station  linename  objectid
0          WHITEHALL STR1  WHITEHALL ST        R1     421.0
1           SOUTH FERRYR1   SOUTH FERRY        R1     418.0
2       FULTON STACJZ2345     FULTON ST  ACJZ2345     413.0
3       FULTON STACJZ2345     FULTON ST  ACJZ2345     402.0
4       FULTON STACJZ2345     FULTON ST  ACJZ2345     360.0
..                    ...           ...       ...       ...
742       WEST FARMS SQ25           NaN       NaN     272.0
743     WHITEHALL S-FRYR1           NaN       NaN     421.0
744    WHITEHALL S-FRYR1W           NaN       NaN     421.0
745             WOODLAWN4           NaN       NaN     456.0
746  WORLD TRADE CTRACE23           NaN       NaN     409.0

[747 rows x 4 columns]